* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(184, 146, 220); */
    grid-template-rows: 145px 1fr;
    grid-template-areas: "cima" "baixo";
}

.nav {
    grid-area: cima;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */


}

.logo {
    height: 145px;
}

.links {
    flex-direction: row;
    display: flex;
    font-size: 30px;
    font-family: 'Tigedeblug', sans-serif;
    gap: 20px;
}

.menu {
    display: flex;
    height: 30px;
    gap: 8px;
}

.corpo {
    /* background-color: antiquewhite; */
    grid-area: baixo;
    display: grid;
    grid-template-columns: 650px 1fr;
    grid-template-areas: "esquerdo direito";
}

.esquerdo {
    grid-area: esquerdo;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* background-color: aqua; */
}

.title-text {
    padding-left: 100px;
    font-family: 'MOONTANK', sans-serif;
    font-size: 20px;
    color: rgb(90, 89, 89);
}

.title-principal {
    font-family: 'Gill Sans MT';
    font-size: 80px;
    color: #8A2D5E;
    padding-left: 100px;

}

.subtitles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome {
    display: flex;
    font-family: 'Mignone', sans-serif;
    padding-left: 100px;


}

.subtitle-text {
    font-family: 'MOONTANK', sans-serif;
    color: rgb(132, 124, 124);
    width: 530px;
    font-size: 18px;
    text-align: justify;
    padding-left: 100px;
}

button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #8A2D5E;
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Odor Mean Chey', sans-serif;
    font-weight: bold;
    border: none;

}

.midias {
    display: flex;
    flex-direction: column;
    width: 35px;
    gap: 15px;
    margin-left: 25px;
}

.direito {
    grid-area: direito;
    height: 100%;
    width: 100%;
    display: flex;

    /* background-color: rgb(207, 38, 38); */
}

.direito img {
    /* display: flex; */
    height: 580px;
    margin-left: 140px;
}

.direito h1 {
    display: flex;
    color: #8a2d5e80;
    font-family: 'Copse', sans-serif;
    font-size: 110px;
    transform: rotate(-90deg);
    /* align-items: center; */
    /* justify-content: flex-end; */
    position: absolute;
    padding-top: 100px;
    padding-right: 400px;

}